body{
font-family: Arial;
text-align:center;
background:#f2f2f2;
}

#messages{
height:200px;
border:1px solid gray;
margin:20px;
padding:10px;
overflow-y:scroll;
background:white;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px;
background:blue;
color:white;
border:none;
}
